<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Women's Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-white navbar-dark ">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

            <li class="nav-link">
                <a type="button" class="btn btn-secondary" href="index.html"> Home </a>
            </li>

            <!-- Navbar dropdown -->
            <li class="nav-link dropdown">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Analyses
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" type="button" href="overview.html">Overview</a>
                        <a class="dropdown-item" type="button" href="women.html">Women</a>
                        <a class="dropdown-item" type="button" href="african-am.html">African-Americans</a>
                        <a class="dropdown-item" type="button" href="asians.html">Asians</a>
                        <a class="dropdown-item" type="button" href="latinx.html">Latinx</a>
                    </div>
                </div>
            </li>

        </div>

    </nav>


    <div class="container-fluid" id="detail_pages">
        <div class="row" id="detail">
            <div class="col-md-12" id="detail_title_section">
                <h3>Glass Ceiling Still Hangs Low for Women</h3>
                <br>
                <p>While women are well represented in professional ranks, their movement into management positions and the very top jobs remains slow. We predict that by 2029, women will be still be 10 points below parity with men in managerial jobs.</p>
                <p>Women saw in increase of just 2 percentage points in their share of CEO positions between 2010 and 2019. At this rate, their representation can be expected to go up another 2.7 points by 2029, yielding an advancement ratio in that year
                    of 65.3%--a 21% increase over 20 years. </p>
            </div>
        </div>
        <div class="row" id="inside_pages">
            <div class="col-sm-6" id="charts">
                <img src="Images/Women_twenty_year_graph.png" alt="Women line graph, 2010-2029">
            </div>

            <div class="col-sm-6" id="charts" </div>
                <img src="Images/Men_twenty_year_graph.png" alt="Women line graph, 2010-2029">
            </div>
        </div>

        <div class="row" id="inside_pages">
            <div class="col-sm-6" id="charts_left_2">
                <img src="Images\Women_ratios_2010-2029.png" alt="advancement ratios 2010-2019">
            </div>

            <div class="col-sm-6" id="charts_right_2" </div>
                <img src="Images/Women_ratio_change19.png" alt="Women ratio change 10 years">
                <img src="Images/Women_ratio_change29.png" alt="Women ratio change 20 years">
            </div>
        </div>



    </div>




    <footer class="footer ">
        <br>
        <p>Copyright 2021 Michal Fineman</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js "></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>
</body>

</html>